<h1 style="color:red">
    Upload Evento
</h1>
 
<form method="post" enctype="multipart/form-data">
    <label>Nombre</label>
    <input type="text"name="nombre"/>
     <label>Artista</label>
    <input type="text"name="artista"/>
     <label>Id Categoria</label>
    <input type="number"name="IdCategoria"/>
    <label>Seleccione una imagen</label>
    <input type="file" name="file" class="form-control" />
    <button class="btn btn-info">
        Creare
    </button>
</form>